html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img, audio, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, iframe, video, img, svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

:root {
  /* Theme colors */
  --theme-color: #FF6C00;
  --section-color: #f7f7f7;
  /* Text colors */
  --text-primary: #303030;
  --text-secondary: #555555;
  --text-secondary-lighter: #9DA4BD;
  /* Fonts */
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.section-container {
  width: 100%;
  padding: 130px 40px;
}

.section-wrapper {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.flexible-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-column {
  width: calc(50% - 30px);
}

.section-suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-primary);
}

.section-suptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--text-primary);
  margin-right: 20px;
}

.section-suptitle.lighter {
  color: rgba(157, 164, 189, 0.6);
}

.section-suptitle.lighter::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.section-suptitle.light {
  color: #fff;
}

.section-suptitle.light::before {
  color: rgba(157, 164, 189, 0.4);
}

.section-title {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: var(--text-primary);
}

.section-title.lighten {
  color: #FFF;
}

.section-description {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  color: var(--text-secondary);
}

.link-box {
  text-align: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  -webkit-transition: 0.3s linear color;
  -o-transition: 0.3s linear color;
  transition: 0.3s linear color;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--theme-color);
}

.link-box {
  margin-left: auto;
}

.link-box-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-right: 40px;
}

.supheader {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(157, 164, 189, 0.6);
}

.supheader::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.main-header {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 72px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.subheader {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: var(--text-secondary-lighter);
}

.primary-link {
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid var(--theme-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.3s linear color, 0.3s linear background;
  -o-transition: 0.3s linear color, 0.3s linear background;
  transition: 0.3s linear color, 0.3s linear background;
}
.primary-link_darken {
  color: var(--text-primary);
}
.primary-link:hover {
  color: #fff;
  background-color: var(--theme-color);
}

.modal-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.459);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 100;
}

.modal {
  width: 530px;
  min-height: 580px;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-cross {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid gray;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  -webkit-transition: 0.3s linear color;
  -o-transition: 0.3s linear color;
  transition: 0.3s linear color;
}
.modal-cross:hover {
  color: #2196F3;
}
.modal-cross.modal__cross {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__headline {
  font-size: 19px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  padding-top: 12px;
}
.modal-form__input-box {
  display: block;
  margin-bottom: 20px;
  color: #757575;
  font-size: 12px;
  position: relative;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 0 10px 0 35px;
  -webkit-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
}
.modal-form__input:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.modal-form__input-icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transition: 0.3s linear fill;
  -o-transition: 0.3s linear fill;
  transition: 0.3s linear fill;
}
.modal-form__message-box {
  position: relative;
  margin: 30px 0;
}
.modal-form__textarea {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 0 10px 0 35px;
  -webkit-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
  font-family: inherit;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
}
.modal-form__textarea:focus {
  outline: 1px solid #2196F3;
}
.modal-form__textarea-label {
  display: block;
  color: #757575;
  font-size: 12px;
  position: absolute;
  top: 0;
  -webkit-transform: translate(10px, 14px);
      -ms-transform: translate(10px, 14px);
          transform: translate(10px, 14px);
  -webkit-transition: 0.1s linear transform;
  -o-transition: 0.1s linear transform;
  transition: 0.1s linear transform;
}
.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form__policy-box {
  font-size: 14px;
  color: #757575;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-form__policy-box::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 10px;
}
.modal-form__checkbox:focus + .modal-form__policy-box::before {
  border-color: #2196F3;
  outline: 2px solid #2196F3;
}
.modal-form__checkbox:checked + .modal-form__policy-box::before {
  background-color: #2196F3;
  background-image: url(../images/icons/checkbox-tip.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.modal-form__policy-box a {
  color: #2196F3;
  text-decoration: underline;
}
.modal-form__submit-btn {
  margin: 0 auto;
}

.submit-btn {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  display: block;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.3s linear box-shadow, 0.3s linear background-color;
  -o-transition: 0.3s linear box-shadow, 0.3s linear background-color;
  transition: 0.3s linear box-shadow, 0.3s linear background-color;
}
.submit-btn:hover {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form__input:focus + .modal-form__input-icon {
  fill: #2196F3;
}

.modal-form__textarea:focus + .modal-form__textarea-label {
  -webkit-transform: translate(0px, -15px);
      -ms-transform: translate(0px, -15px);
          transform: translate(0px, -15px);
}

.modal-form__textarea:not(:-moz-placeholder-shown) + .modal-form__textarea-label {
  transform: translate(0px, -15px);
}

.modal-form__textarea:not(:-ms-input-placeholder) + .modal-form__textarea-label {
  -ms-transform: translate(0px, -15px);
      transform: translate(0px, -15px);
}

.modal-form__textarea:not(:placeholder-shown) + .modal-form__textarea-label {
  -webkit-transform: translate(0px, -15px);
      -ms-transform: translate(0px, -15px);
          transform: translate(0px, -15px);
}

.header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  width: 100%;
  padding: 0 55px;
  position: fixed;
  -webkit-transition: 0.3s linear background;
  -o-transition: 0.3s linear background;
  transition: 0.3s linear background;
  z-index: 95;
}
.header .navbar.navbar-fixed {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.header .navbar.navbar-fixed .logo-img {
  -webkit-transition: 0.3s linear fill;
  -o-transition: 0.3s linear fill;
  transition: 0.3s linear fill;
  fill: #fff;
}
.header .logo-img {
  width: 68px;
  height: 54px;
  margin-right: 70px;
}

.sidebar {
  width: 155px;
  background-color: #fff;
  padding: 0 20px 120px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidebar .sidebar-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: 40px 0;
  position: relative;
  color: var(--text-primary);
}
.sidebar .sidebar-link:last-of-type:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: var(--text-primary);
  left: -100px;
  bottom: 50%;
}
.sidebar .sidebar-link:hover,
.sidebar .sidebar-link:focus {
  color: var(--theme-color);
}

.hero-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding-left: 100px;
  background-color: #303030;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/slider/slider_img-1.jpg);
  background-image: -o-linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/slider/slider_img-1.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/slider/slider_img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-image {
  display: inline-block;
  width: calc(50% - 15px);
}

.about-image:not(:last-child) {
  margin-right: 25px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 100px;
}

.advantages-column:not(:first-child) {
  margin: 30px 0 0 30px;
}

.advantages-box {
  width: 170px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--section-color);
}

.advantages-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.05em;
  position: relative;
  color: var(--text-primary);
}

.advantages-count::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 22px;
  right: -10px;
  background-image: url(../images/icons/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation-name: crazy-rotate;
          animation-name: crazy-rotate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.advantages-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  text-align: center;
  margin-top: 10px;
  color: var(--text-primary);
}

@-webkit-keyframes crazy-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes crazy-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.section-container#price {
  background-color: #111319;
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 45px 0 50px 0;
}

.price-column {
  width: 50%;
  padding: 30px 40px;
}

.price-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-item-text:not(:last-child) {
  margin-bottom: 20px;
}

.price-item-text span {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.price-item-text span::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin: 0 10px;
}

.price-column:nth-child(odd) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background-image: -o-linear-gradient(top, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-column:nth-child(even) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
  background-image: -o-linear-gradient(top, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item-text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: var(--text-secondary-lighter);
}

.section-container#masters {
  background-color: var(--section-color);
}

.masters-list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.master-card {
  text-align: center;
}

.master-avatar {
  margin-bottom: 30px;
}

.master-name {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: var(--text-primary);
}

.master-post {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--theme-color);
}

.master-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.master-social-list li:not(:last-child) {
  margin-right: 10px;
}

.master-social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.master-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.master-social-link:hover svg,
.master-social-link:focus svg {
  fill: #FF6C00;
}

.master-social-link svg {
  width: 20px;
  height: 20px;
  fill: #303030;
  -webkit-transition: 0.3s linear fill;
  -o-transition: 0.3s linear fill;
  transition: 0.3s linear fill;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.gallery-item {
  width: calc(25% - 30px);
}

.gallery-image {
  width: 100%;
}

.footer {
  background-color: #191C26;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form {
  width: 50%;
  max-width: 970px;
  padding: 130px 40px 130px 55px;
  margin-left: auto;
}

.footer-form > .section-title {
  margin-bottom: 44px;
}

.footer-form > .primary-link {
  padding: 12px 38px;
}

.footer-input-box {
  position: relative;
  display: inline-block;
  width: calc(50% - 15px);
}

.footer-input-box:nth-of-type(odd) {
  margin-right: 25px;
}

.footer-form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  font-size: 11px;
  color: #fff;
  font-family: var(--primary-font);
  -webkit-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
}

.footer-form-input:focus,
.footer-form-input:hover {
  outline: none;
  border-color: #fff;
}

.footer-form-input:hover + .footer-input-label {
  color: #fff;
}

.footer-input-label {
  position: absolute;
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  left: 0;
  bottom: 8px;
  -webkit-transition: 0.1s linear transform, 0.3s linear color;
  -o-transition: 0.1s linear transform, 0.3s linear color;
  transition: 0.1s linear transform, 0.3s linear color;
}

.footer-form-input:not(:-moz-placeholder-shown) + .footer-input-label {
  transform: translate(0px, -15px);
}

.footer-form-input:not(:-ms-input-placeholder) + .footer-input-label {
  -ms-transform: translate(0px, -15px);
      transform: translate(0px, -15px);
}

.footer-form-input:focus + .footer-input-label,
.footer-form-input:not(:placeholder-shown) + .footer-input-label {
  -webkit-transform: translate(0px, -15px);
      -ms-transform: translate(0px, -15px);
          transform: translate(0px, -15px);
}

.footer-form-text {
  width: 100%;
  min-height: 76px;
  resize: none;
  margin: 44px 0;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  font-size: 11px;
  color: #fff;
  font-family: var(--primary-font);
  -webkit-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
}

.footer-form-text::-webkit-input-placeholder {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.footer-form-text::-moz-placeholder {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.footer-form-text:-ms-input-placeholder {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.footer-form-text::-ms-input-placeholder {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.footer-form-text::placeholder {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.footer-form-text:focus,
.footer-form-text:hover {
  outline: none;
  border-color: #fff;
}

.footer-contacts {
  width: 50%;
  padding: 130px 0 130px 100px;
  background-image: url(../images/footer/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.adress-box {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  font-style: normal;
  margin-bottom: 70px;
  padding-left: 30px;
  position: relative;
  color: var(--text-secondary-lighter);
}

.contact-link::before,
.adress-box::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  left: 0;
  top: 4px;
  background-image: url(../images/icons/map-pin.svg);
}

.mail::before {
  background-image: url(../images/icons/mail.svg);
}

.phone::before {
  background-image: url(../images/icons/phone.svg);
}

.contact-link {
  display: block;
  color: inherit;
  margin-top: 20px;
  position: relative;
}

.contact-link.mail {
  text-decoration: underline;
}

.contact-link.phone:before,
.contact-link.mail:before {
  content: "";
  left: -30px;
}

.schedule-box {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--text-secondary-lighter);
}

.copyright-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.2em;
  color: var(--text-secondary-lighter);
}

.footer-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.2em;
  margin-left: 40px;
  -webkit-transition: 0.3s linear color;
  -o-transition: 0.3s linear color;
  transition: 0.3s linear color;
  color: var(--text-primary);
}

.footer-social-link:first-of-type::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--text-primary);
  margin-right: 40px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--theme-color);
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 127px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 55px;
  background-color: #fff;
}/*# sourceMappingURL=main.css.map */