:root{
    /* Theme colors */
    --theme-color:              #FF6C00;
    --section-color:            #f7f7f7;

    /* Text colors */
    --text-primary:             #303030;
    --text-secondary:           #555555;
    --text-secondary-lighter:   #9DA4BD;

    /* Fonts */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

body{
    font-family: var(--primary-font);
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

img{
    display: block;
}

ul, ol{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

/* =========== Main styles starts here =========== */

.section-container{
    width: 100%;
    padding: 130px 40px;
}

.section-wrapper{
    width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.flexible-wrapper{
    display: flex;
    justify-content: space-between;
}

.section-column{
    width: calc(50% - 30px);
}

.section-suptitle{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
    color: var(--text-primary);
}
.section-suptitle::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--text-primary);
    margin-right: 20px;
}

.section-suptitle.lighter{
    color: rgba(157, 164, 189, 0.6);
}

.section-suptitle.lighter::before{
    background-color: rgba(157, 164, 189, 0.6);
}

.section-suptitle.light{
    color: #fff;
}

.section-suptitle.light::before{
    color: rgba(157, 164, 189, 0.4);
}

.section-title{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    text-transform: capitalize;

    color: var(--text-primary);
}

.section-title.lighten{
    color: #FFF;
}

.section-description{
    font-size: 14px;
    line-height: 1.8;    
    letter-spacing: 0.02em;
    margin-bottom: 40px;

    color: var(--text-secondary);
}
.link-box{
    text-align: center;
}

.primary-link{
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid var(--theme-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.primary-link.darken{
    color: var(--text-primary);
}

.primary-link:hover{
    color: #fff;
    background-color: var(--theme-color);
}


/* =========== Main styles ends here =========== */


/* =========== Header styles starts here =========== */
.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.navbar{
    display: flex;
    align-items: center;
    height: 110px;
    width: 100%;
    padding: 0 55px;
    position: fixed;
}

/* .navbar-fixed{
    background: rgba(0, 0, 0, .5);
} */


.logo-img{
    width: 68px;
    height: 54px;
    margin-right: 70px;
}

.nav-links{
    display: flex;
}

.nav-item:not(:last-child){
    margin-right: 40px;
}

.nav-link{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}       

.nav-link:hover,
.nav-link:focus{
    color: var(--theme-color);
}

.link-box{
    margin-left: auto;
}

.link-box-phone{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-right: 40px;
}

.sidebar{
    width: 155px;
    background-color: #fff;
    padding: 0 20px 120px 20px;
}

.sidebar-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.2em;
    align-items: center;

    color:var(--text-primary);
}


.sidebar-link:hover,
.sidebar-link:focus{
    color: var(--theme-color);
}

.hero-box{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 100px;
    background-color: #303030;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/slider/slider_img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.supheader{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    color: rgba(157, 164, 189, 0.6);
}

.supheader::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
}

.main-header{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.subheader{
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    
    color: var(--text-secondary-lighter);
}

/* =========== Header styles ends here =========== */








/* =========== AboutUs Section styles starts here =========== */

.about-image{
    display: inline-block;
    width: calc(50% - 15px);
}

.about-image:not(:last-child){
    margin-right: 25px;
}


/* =========== AboutUs Section styles ends here =========== */









/* =========== Price Section styles starts here =========== */


.section-container#price{
    background-color: #111319;
    background-image: url(../images/price/price-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.price-list{
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0 50px 0;
}
.price-column{
    width: 50%;
    padding: 30px 40px;
}

.price-item-text{
    display: flex;
    justify-content: space-between;
}

.price-item-text:not(:last-child){
    margin-bottom: 20px;
}

.price-item-text span{
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    flex-grow: 1;
}

.price-item-text span::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin: 0 10px;
}


.price-column:nth-child(odd){
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-column:nth-child(even){
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item-text{
    font-size: 18px;
    line-height: 1.6;  
    letter-spacing: 0.02em;
    
    color: var(--text-secondary-lighter);
}

/* =========== Price Section styles ends here =========== */






/* =========== WhyUs Section styles starts here =========== */

.advantages-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 100px;
}

.advantages-column:not(:first-child){
    margin: 30px 0 0 30px;
}

.advantages-box{
    width: 170px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;

    background-color: var(--section-color);
}

.advantages-count{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--text-primary);
}

.advantages-count::after{
    content: '';
    display: inline-block;
    width: 13px;
    height: 22px;
    background-image: url(../images/icons/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    text-align: center;
    margin-top: 10px;

    color: var(--text-primary);
}

/* =========== WhyUs Section styles ends here =========== */




/* =========== Masters Section styles starts here =========== */

.section-container#masters{
    background-color: var(--section-color);
}

.masters-list{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.master-card{
    text-align: center;
}

.master-avatar{
    margin-bottom: 30px;
}

.master-name{
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 10px;

    color: var(--text-primary);
}

.master-post{
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--theme-color);
}

.master-social-list{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.master-social-list li:not(:last-child){
    margin-right: 10px;
}

.master-social-link{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: #fff;
}

.master-social-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.master-social-link:hover svg,
.master-social-link:focus svg{
    fill: #FF6C00;
}

.master-social-link svg{
    width: 20px;
    height: 20px;
    fill: #303030;
}


/* =========== Masters Section styles ends here =========== */




/* =========== Gallery Section styles starts here =========== */
.gallery-list{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.gallery-item{
    width: calc(25% - 30px);
}
.gallery-image{
    width: 100%;
}

/* ===========  Gallery Section styles ends here =========== */





/* =========== Footer styles starts here =========== */

.footer{
    background-color: #191C26;
}

.footer-box{
    display: flex;

}

.footer-form{
    width: 50%;
    padding: 130px 40px 130px 55px;
}

.footer-contacts{
    width: 50%;
    padding: 130px 0 130px 100px;
    background-image: url(../images/footer/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.adress-box{
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-bottom: 70px;

    color: var(--text-secondary-lighter);
}


.contact-link::before,
.adress-box::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background-image: url(../images/icons/phone.svg);
}

.mail::before{
    background-image: url(../images/icons/mail.svg);
}
.adress-box::before{
    background-image: url(../images/icons/map-pin.svg);
}
.contact-link{
    display: block;
    color: inherit;
    margin-top: 20px;
}

.contact-link.mail{
    text-decoration: underline;
}

.contact-link.phone:before,
.contact-link.mail:before{
    content: '';
}

.schedule-box{
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    
    color: var(--text-secondary-lighter);
}

.copyright-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.2em;

    color: var(--text-secondary-lighter)
}

.footer-social-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.2em;
    margin-left: 40px;

    color:var(--text-primary);
}

.footer-social-link:first-of-type::before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: var(--text-primary);
    margin-right: 40px;
} 

.footer-social-link:hover,
.footer-social-link:focus{
    color: var(--theme-color);
}


.copyright{
    display: flex;
    height: 127px;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
    background-color: #fff;
}

/* =========== Footer styles ends here =========== */