:root{
    /* Theme colors */
    --theme-color:              #FF6C00;

    /* Text colors */
    --text-primary:             #303030;
    --text-secondary:           #555555;
    --text-secondary-lighter:   #9DA4BD;

    /* Fonts */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

body{
    font-family: var(--primary-font);
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

address{
    font-style: normal;
}

/* =========== Main styles starts here =========== */
.layout{

}

.section-container{

}

.section-column{

}

.section-suptitle{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--text-primary);
}

.section-title{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.05em;

    color: var(--text-primary);
}

.section-title.lighten{
    color: #FFF;
}

.section-description{
    font-size: 14px;
    line-height: 1.8;    
    letter-spacing: 0.02em;

    color: var(--text-secondary);
}

.primary-link{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}

.primary-link:hover{
    color: var(--theme-color);
}


/* =========== Main styles ends here =========== */


/* =========== Header styles starts here =========== */

.nav-link{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    /* color: #FFFFFF; */
}       

.nav-link:hover,
.nav-link:focus{
    color: var(--theme-color);
}

.link-box-phone{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    /* color: #FFFFFF; */
}

.sidebar-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.2em;

    color:var(--text-primary);
}

.sidebar-link:hover,
.sidebar-link:focus{
    color: var(--theme-color);
}

.supheader{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.main-header{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0.05em;
    /* color: #FFFFFF; */
}
.subheader{
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    
    color: var(--text-secondary-lighter);
}

/* =========== Header styles ends here =========== */








/* =========== AboutUs Section styles starts here =========== */



/* =========== AboutUs Section styles ends here =========== */









/* =========== Price Section styles starts here =========== */


.price-item-text{
    font-size: 18px;
    line-height: 1.6;  
    letter-spacing: 0.02em;
    
    color: var(--text-secondary-lighter);
}

/* =========== Price Section styles ends here =========== */






/* =========== WhyUs Section styles starts here =========== */

.advantages-count{
    font-weight: bold;
    font-size: 42px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--text-primary);
}

.advantages-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    text-align: center;

    color: var(--text-primary);
}

/* =========== WhyUs Section styles ends here =========== */




/* =========== Masters Section styles starts here =========== */

.master-name{
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--text-primary);
}

.master-post{
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--theme-color);
}

/* =========== Masters Section styles ends here =========== */







/* =========== Gallery Section styles starts here =========== */

/* ===========  Gallery Section styles ends here =========== */







/* =========== Footer styles starts here =========== */

.adress-box{
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: var(--text-secondary-lighter);
}

.copyright-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.2em;

    color: var(--text-secondary-lighter)
}

.footer-social-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.2em;

    color:var(--text-primary);
}

.footer-social-link:hover,
.footer-social-link:focus{
    color: var(--theme-color);
}


/* =========== Footer styles ends here =========== */