// Variables
@import './utils/normalize';
@import './utils/vars';

// Base styles
@import './base/reset';
@import './base/base-styles';

// Components
@import './components/button';
@import './components/modal';

// Layout
@import './layout/header';
@import './layout/about-us';
@import './layout/why-us';
@import './layout/price';
@import './layout/masters';
@import './layout/gallery';
@import './layout/footer';
