:root{
    /* Theme colors */
    --theme-color:              #FF6C00;
    --section-color:            #f7f7f7;

    /* Text colors */
    --text-primary:             #303030;
    --text-secondary:           #555555;
    --text-secondary-lighter:   #9DA4BD;

    /* Fonts */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}


$theme-color:              #FF6C00;
$section-color:            #f7f7f7;