$breakpoints: (
  'mobile': ( min-width:  319px ),
  'tablet': ( min-width:  767px ),
  'desktop': ( min-width: 1280px ),
  'desktop-fhd': ( min-width: 1919px ),
  'retina-apple-pasibo-bolshoe': ()
) !default;