// Variables of font values, and the components where they are indicated located here

// Font
$mainFont				 : 'Roboto', Helvetica, Arial, sans-serif;
$secondaryFont           : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$text-xl				 : 48px; // Pages heading
$text-md				 : 36px; // Analytics "total" numbers
$text-sm				 : 24px; // Modal header, User Last name;
$text-xs				 : 14px; // Table headers, Stages
$text-xxs				 : 12px; // Footer text, Analytics info

