// Variables of screen values, located here


$desktopWidth_FHD		 : 1920px;
$desktopWidth_HD		 : 1366px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;