// Variables of components size, located here

// Main blocks
$header-height					: 100px;
$header-height_HD				: 80px;
$footer-height					: 30px;
$nav-sublist-width			    : 280px;
$nav-item-height				: 50px;

// Table blocks
$table-options-height		    : 55px;
$table-header-height		    : 50px;
$table-item-height			    : 70px;

// Individual components
$paginator-height				: 35px;
$stepper-height					: 30px;
$input-height					: 50px;
$search-field-height		    : 55px;
$analytics-width				: 460px;

// Border radius
$radius-rounded					: 50%;
$radius-xl						: 24px;
$radius-sm						: 12px;
$radius-s						: 8px;