.footer{
    background-color: #191C26;
}

.footer-box{
    display: flex;
}

.footer-form{
    width: 50%;
    max-width: 970px;
    padding: 130px 40px 130px 55px;
    margin-left: auto;
}

.footer-form > .section-title{
    margin-bottom: 44px;
}

.footer-form > .primary-link{
    padding: 12px 38px;
}

.footer-input-box{
    position: relative;
    display: inline-block;
    width: calc(50% - 15px);
}

.footer-input-box:nth-of-type(odd){
    margin-right: 25px;
}

.footer-form-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    background-color: transparent;
    font-size: 11px;
    color: #fff;
    font-family: var(--primary-font);
    transition: .3s linear border;
}

.footer-form-input:focus,
.footer-form-input:hover{
    outline: none;
    border-color: #fff;
}

.footer-form-input:hover + .footer-input-label{
    color: #fff;
}

.footer-input-label{
    position: absolute;
    color: rgba(157, 164, 189, 0.4);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    left: 0;
    bottom: 8px;
    transition: .1s linear transform, .3s linear color;
}

.footer-form-input:focus + .footer-input-label,
.footer-form-input:not(:placeholder-shown) + .footer-input-label{
    transform: translate(0px, -15px);
}

.footer-form-text{
    width: 100%;
    min-height: 76px;
    resize: none;
    margin: 44px 0;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    background-color: transparent;
    font-size: 11px;
    color: #fff;
    font-family: var(--primary-font);
    transition: .3s linear border;
}

.footer-form-text::placeholder{
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
}

.footer-form-text:focus,
.footer-form-text:hover{
    outline: none;
    border-color: #fff;
}

.footer-contacts{
    width: 50%;
    padding: 130px 0 130px 100px;
    background-image: url(../images/footer/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.adress-box{
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-bottom: 70px;
    padding-left: 30px;
    position: relative;

    color: var(--text-secondary-lighter);
}


.contact-link::before,
.adress-box::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    left: 0;
    top: 4px;
    background-image: url(../images/icons/map-pin.svg);
}

.mail::before{
    background-image: url(../images/icons/mail.svg);
}
.phone::before{
    background-image: url(../images/icons/phone.svg);
}
.contact-link{
    display: block;
    color: inherit;
    margin-top: 20px;
    position: relative;
}

.contact-link.mail{
    text-decoration: underline;
}

.contact-link.phone:before,
.contact-link.mail:before{
    content: '';
    left: -30px;
}

.schedule-box{
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    
    color: var(--text-secondary-lighter);
}

.copyright-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.2em;

    color: var(--text-secondary-lighter)
}

.footer-social-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.2em;
    margin-left: 40px;
    transition: .3s linear color;

    color:var(--text-primary);
}

.footer-social-link:first-of-type::before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: var(--text-primary);
    margin-right: 40px;
} 

.footer-social-link:hover,
.footer-social-link:focus{
    color: var(--theme-color);
}


.copyright{
    display: flex;
    height: 127px;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
    background-color: #fff;
}