.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    .navbar{
        display: flex;
        align-items: center;
        height: 110px;
        width: 100%;
        padding: 0 55px;
        position: fixed;
        transition: .3s linear background;
        z-index: 95;
        &.navbar-fixed{
            background: rgba(0, 0, 0, .5);
            backdrop-filter: blur(15px);
            .logo-img{
                transition: .3s linear fill;
                fill: #fff;
            }
        }
    }
    .logo-img{
        width: 68px;
        height: 54px;
        margin-right: 70px;
    }

}

@media print{
    .header {
      display: none;
    }
    .primary-link{
        display: none;
    }
}

.sidebar{
    width: 155px;
    background-color: #fff;
    padding: 0 20px 120px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: end;
    justify-content: center;

    .sidebar-link{
        font-weight: 600;
        font-size: 11px;
        line-height: 1.3;
        letter-spacing: 0.2em;
        align-items: center;
        transform: rotate(-90deg);
        margin: 40px 0;
        position: relative;
    
        color:var(--text-primary);

        &:last-of-type:before{
            content: '';
            position: absolute;
            width: 60px;
            height: 1px;
            background-color: var(--text-primary);
            left: -100px;
            bottom: 50%;
        }
    }
    
    .sidebar-link:hover,
    .sidebar-link:focus{
        color: var(--theme-color);
    }
}



.hero-box{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 100px;
    background-color: #303030;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/slider/slider_img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    // Если у устройства пиксельная плотность 2 и больше примени следующие стили
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image:  linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../images/slider/slider_img-1@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
        background-image:  linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../images/slider/slider_img-1@3x.jpg');
    }
}


/* 
96dpi - 1x
115dpi - 1.2x
144dpi - 1.5x
192dpi - 2x
288dpi - 3x
384dpi - 4x 
*/


