
.section-container#price{
    background-color: #111319;
    background-image: url(../images/price/price-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image:   url(../images/price/price-bg@2x.png);
    }
}

.price-list{
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0 50px 0;
}
.price-column{
    width: 50%;
    padding: 30px 40px;
}

.price-item-text{
    display: flex;
    justify-content: space-between;
}

.price-item-text:not(:last-child){
    margin-bottom: 20px;
}

.price-item-text span{
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    flex-grow: 1;
}

.price-item-text span::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin: 0 10px;
}


.price-column:nth-child(odd){
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-column:nth-child(even){
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item-text{
    font-size: 18px;
    line-height: 1.6;  
    letter-spacing: 0.02em;
    
    color: var(--text-secondary-lighter);
}