.advantages-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 100px;
}

.advantages-column:not(:first-child){
    margin: 30px 0 0 30px;
}

.advantages-box{
    width: 170px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;

    background-color: var(--section-color);
}

.advantages-count{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;

    color: var(--text-primary);
}

.advantages-count::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 22px;
    right: -10px;
    background-image: url(../images/icons/cross.svg);
    background-repeat: no-repeat;
    background-position: center;

    animation-name: crazy-rotate;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.advantages-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    text-align: center;
    margin-top: 10px;

    color: var(--text-primary);
}


@keyframes crazy-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}