body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #252525;
    color: #fff;
}
*{
    box-sizing: border-box;
    list-style-type: none;
}
header{
    text-align: center;
}

section{
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: #00a6ff;
    display: flex;
    justify-content: space-around;
}
a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}


.box{
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    background-color: #ff5d2b;
    border-radius: 25px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: .3s linear background-color; */

    animation-name: myAnim;
    animation-timing-function: linear;
    animation-duration: 5s;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;

}

.box:hover{
  animation-play-state: paused;
}



@keyframes myAnim {
  0%{
    background-color: #ff5d2b;
  }
  25%{
    background-color: #d1ff2b;
  }
  50%{
    background-color: #2bff7c;
    transform: scale(1.5);
  }
  100%{
    background-color: #ce2bff;
    transform: scale(1);
  }
}







/* Scene styles here */
.scene{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(rgb(28, 116, 175), skyblue);
}

.sun{
  width: 200px;
  height: 200px;
  background-image: url(../images/sun.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: bounce;

}


@keyframes bounce {
  from{
    transform: scale(1.2);
  }
  to{
    transform: scale(1);
  }
}

.clouds{
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0px;
  background-image: url(../images/cloud.png), url(../images/cloud-1.png), url(../images/cloud-2.png);
  background-repeat: no-repeat;
  background-position: top 50px right, top 100px center, top 30px left 200px;

  animation-name: sky-motion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-duration: 40s;
}

@keyframes sky-motion {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(-100%);
  }
}

.train{
  height: 300px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 50px;
  background-image: url(../images/train.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  animation-name: motion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  transform: rotateY(180deg);
}

@keyframes motion {
  0%{
    transform: translateX(100%);
  }
  25%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%) rotateY(180deg);
  }
  100%{
    transform: rotateY(180deg) translateX(-100%);
  }
}

.grass{
  height: 200px;
  width: 110%;
  position: absolute;
  bottom: 0;
  left: -5%;
  z-index: 1;
  background-image: url(../images/grass.png);
  background-position: center bottom -50px;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: grass-skew;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-duration: 3s;
}

@keyframes grass-skew{
  from{  
    transform: skew(10deg);
  }
  to{
    transform: skew(-10deg);
  }
}